

.code-textarea {
    width: 100%;
    font-family: monospace;
    height: 10em;
    display: block;
}

.org-src-container {
    width: 100%;
    justify-self: center;
}

img {
    display: block;
    margin: auto;
    max-width: 60%;
    height: auto;
}

.canvas {
    display: block;
    margin: auto;
    width: 60%;
    max-width: 60%;
    height: auto;
}

.title {
    display: none;

}

#index-table {
    text-align-last: center; 
}

#index-table td,
#index-table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    margin: 1em;
}

header {
    position: sticky;
    padding: 10px;
    margin: 0px;
    top: 0;
    right: 0;
    z-index: 1;
    background: white;
    color: white;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align-last: justify;
}

html {
    font-family: tahoma;
}

body {
    margin: 0;
}

#content {
    text-align: justify;
    justify-self: center;
    margin: 3em;
}

#table-of-contents {
    justify-self: left;
    font-size: small;
}

